@page
@model Suciu_Denisa_Camelia_proiect.Pages.Suppliers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Project)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Hourlyrate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Hourlyrate)
        </dd>
        <dt class="col-sm-2"> 
            @Html.DisplayNameFor(model => model.Supplier.ContractDate) 
        </dt>
        <dd class="col-sm-10"> 
            @Html.DisplayFor(model => model.Supplier.ContractDate) 
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
